
  <div class="sidebar"><h1>Nksoft ventas</h1></div>
  <div id="formContent">
    <!-- Tabs Titles -->
    <h2 class="active"> Sign In </h2>
    <h2 class="inactive underlineHover">Sign Up </h2>

    <!-- Icon -->
    <div class="fadeIn first">
      <img src="../../assets/img/sign-in-alt-solid.svg" id="icon" alt="User Icon" />
    </div>

    <!-- Login Form -->
    <form>
      <input type="text" id="login" class="fadeIn second" name="email" placeholder="email">
      <input type="password" id="password" class="fadeIn third" name="password" placeholder="password">
      <input type="submit" class="fadeIn fourth" value="Log In">
      <div class="tooltip">
        <button (click)="onSignIn()" type="button" class="fadeIn fourth"><img src="../../assets/img/google-brands.svg" id="icon-button"> Sing-in</button>
        <span class="tooltiptext">Inicio de sesión con Google</span>
      </div>
    </form>
    
    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a class="underlineHover" href="#">Forgot Password?</a>
    </div>

  </div>
