/* You can add global styles to this file, and also import other style files */
html, body {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
}

.fondo{
  background-image: url('./assets/img/music-2060616_1920.jpg');
  background-repeat: no-repeat;
}

